Teilen auf
<a href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank"
   title="Teilen auf Facebook"><i class="fa fa-facebook fa-fw"></i>&nbsp;Facebook</a>&ensp;
<a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&via={{ site.username.twitter }}&related={{ site.username.twitter }}"
   rel="nofollow" target="_blank" title="Teilen auf Twitter"><i class="fa fa-twitter fa-fw"></i>&nbsp;Twitter</a>&ensp;
<a href="https://plus.google.com/share?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow" target="_blank"
   title="Teilen auf Google+"><i class="fa fa-google-plus fa-fw"></i>&nbsp;Google+</a>
