/* General */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: #2a3034;
}

.bg-cover {
    background: url('../img/bg_loclet_munich_02.jpg') no-repeat fixed center 0;
    background-size: cover;
}

a, a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
    color: #26ad61;
}

p {
    line-height: 24px;
}

section {
    width: 100%;
    min-height: 220px;
    padding-top: 2em;
    padding-bottom: 2em;
    background: #fff;
}

section h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mt80 {
    margin-top: 80px;
}

.page img {
    display: block;
    margin: 20px auto 0 auto;
}

/* Nav Bar */
nav.navbar {
    z-index: 11111;
    height: 86px;
    background: url('../img/bg_nav.png') top repeat-x;
    border: none;
    font-weight: 400;
}

.navbar-default {
    padding-top: 12px;
}

a.navbar-brand {
    display: block;
    width: 180px;
    height: 56px;
    background: transparent url('../img/loclet_logo_small.png') no-repeat left top;
}

.navbar-default a.navbar-brand,
.navbar-default a.navbar-brand:link,
.navbar-default a.navbar-brand:active,
.navbar-default a.navbar-brand:hover {
    color: transparent;
}

.navbar-collapse {
    background: #fff;
}

a {
    color: #2e96de;
}

a.active,
.navbar-default .navbar-nav li a.active {
    color: #e84c3d;
}

a:hover, a.active:hover,
.navbar-default .navbar-nav li a.active:hover {
    color: #e67d21;
}

/* Header */
#header {
    background: transparent;
    color: #fff;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 14em 0 14em 0;
    cursor: default;
    vertical-align: middle;
}

#header header {
    display: inline-block;
    padding: 0 0 4.5em 0;
}

#header header h1 {
    font-size: 2em;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-transform: uppercase;
}

#header header p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0;
}

#header header p:before {
    content: '';
    display: block;
    margin: 4px 0 0.8em 0;
}

#header footer {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#header-decoration {
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #header-decoration {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #header-decoration {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #header-decoration {
        width: 1170px;
    }
}

.download-badge {
    margin-top: 4px;
    margin-bottom: 4px;
}

#phone {
    position: absolute;
    width: 140px;
    height: 261px;
    right: 0;
    bottom: -50px;
}

@media (min-width: 992px) {
    #phone {
        width: 210px;
        height: 392px;
        right: 0;
        bottom: -75px;
    }
}

@media (min-width: 1200px) {
    #phone {
        width: 280px;
        height: 522px;
        right: 0;
        bottom: -100px;
    }
}

#mascot {
    position: absolute;
    width: 93px;
    height: 99px;
    left: 4px;
    bottom: 0;
}

@media (min-width: 992px) {
    #mascot {
        width: 140px;
        height: 149px;
        left: 6px;
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    #mascot {
        width: 186px;
        height: 188px;
        left: 8px;
        bottom: 0;
    }
}

/* Button */
input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    position: relative;
    display: inline-block;
    border: 0;
    background: #2e96de;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    padding: 1em 3em 1em 3em;
    text-align: center;
    border-radius: 3em;
    font-weight: 300;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background: #2e96de;
    background: rgba(46, 150, 222, 0.7);
    color: #fff !important;
    text-decoration: none;
}

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
button.style2,
.button.style2 {
    color: #fff;
    background: #e84c3d;
    box-shadow: inset 0 0 0 1px #fff;
}

input[type="button"].style2:hover,
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
button.style2:hover,
.button.style2:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff !important;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}

input[type="button"].style3,
input[type="submit"].style3,
input[type="reset"].style3,
button.style3,
.button.style3 {
    background: none;
    color: #3a3939;
    box-shadow: inset 0 0 0 1px #dad9d9;
}

input[type="button"].style3:hover,
input[type="submit"].style3:hover,
input[type="reset"].style3:hover,
button.style3:hover,
.button.style3:hover {
    background: rgba(58, 57, 57, 0.025);
}

.avatar {
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 0.3em solid #fff;
}

/* Testimonials */
#testimonials {
    background: #fcfcfc url('../img/bg_shadow_bottom.png') repeat-x bottom;
    padding-top: 6em;
    padding-bottom: 3em;
}

#testimonials .col-sm-4 {
    padding: 0 40px;
    text-align: right;
}

#testimonials a {
    color: #000;
}

#testimonials blockquote {
    text-align: left;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 0;
}

#testimonials h4 {
    font-size: 20px;
}

#testimonials h5 {
    font-size: 18px;
    margin-top: -4px;
    color: #888;
}

#androidmag-logo {
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: 100px;
    height: 43px;
    background: url('../img/androidmag_logo.png');
}

/* Features */
#features {
    background: #fff url('../img/bg_tritile.png');
    padding: 4em;
}

#features img {
    display: block;
    margin: auto;
}

@media (min-width: 768px) {
    #features .col-sm-5 {
        text-align: right;
    }

    #features img {
        display: inline-block;
    }
}

/* Partners */
#partners {
    background: #2980ba url('../img/bg_shadow_bottom.png') top repeat-x;
    color: #fff;
}

#partners h2 {
    margin: 0.2em;
}

#partners img {
    padding: 20px;
}

/* Social */
#social {
    background: #fff;
}

/* Footer */
#footer {
    background: #333a3f url('../img/bg_shadow_bottom.png') top repeat-x;
    color: #f8f8f8;
    padding-top: 1em;
}

#footer a {
    font-weight: 300;
    color: #aaa;
    display: block;
}

#footer a:hover {
    color: #e67d21;
}

#footer h6 {
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

/* Blog */
.cover {
    width: 100%;
    height: auto;
    margin: -20% auto 0 auto;
}

.cover-crop {
    position: relative;
    width: 100%;
    max-height: 240px;
    overflow: hidden;
}

.post-header {
    background: #fff;
    display: inline-block;
    position: relative;
    top: -32px;
    padding: 8px 20px 8px 8px;
}

.post-header h1 {
    margin: 0;
    padding: 0;
    display: block;
}

.post-header p {
    margin-top: 8px;
    color: #666;
}

.post-author {
    position: absolute;
    top: 0;
    right: 0;
    margin: -40px 0 0 0;
}

.post-author p {
    position: relative;
    display: inline-block;
    padding: 8px 12px 8px 12px;
    background: #fff;
    top: 0;
    left: 8px;
}

article.container {
    position: relative;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 12px auto 0 auto;
}

article h6, article h6 a {
    padding-top: 0;
    font-weight: 300;
    font-size: 12px;
    color: #666;
    text-align: center;
}

article img + em {
    font-size: 15px;
    display: block;
    margin: 12px auto 0 auto;
    text-align: center;
    color: #666;
}

/* Team */
.profile {
    display: inline-block;
    margin: 8px;
    text-align: center;
    width: 256px;
    background: #f8f8f8;
}

/* Misc */
span.codedirection {
    unicode-bidi: bidi-override;
    direction: rtl;
}

label.error {
    display: block;
    width: 100%;
    padding: 8px;
    color: #e84c3d;
    font-weight: 300;
    font-size: 16px;
}